.statistics{
    text-align: center;
    margin-top: 15px;
    width: 330px;
    height: 150px;
    background-color: #fff;
    box-shadow: 0 6px 20px 0 #b97a7a, 0 4px 8px 0 #ff6856;
}

.title {
    font-family: Comfortaa;
    color: #BC8F8F;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}

.statList {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 15px;
}

.item:first-child {
    padding-left: 0;
}

.label {
    font-size: 20px;
    color: #BC8F8F;
}

.percentage {
    margin-top: 10px;
    color: #FA8072;
}